// Specific CSS for your home-page
@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;300;400;500;600;700&display=swap');

.side-scroll{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  // display: flex;
  // flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}


.card-price-box{
  display:flex;
  justify-content: space-between;
}

.card {
  display: inline-block;
  flex: 0 0 auto;
  height: 100%
}

.home-content{
  background-color: rgb(222, 222, 222);
  padding: 25px;
  border-radius: 50px;
}

body{
  background-color:#f7f6fa;
  font-family: 'Alexandria', sans-serif;
}
.dropdown-menu{

  p{
    font-family: 'Alexandria', sans-serif;
    text-decoration: none;
    color: black;
    font-weight: 400;
  }
  a{
    text-decoration: none;
    color: #f1952f;
  }
}


@import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

.home-card {
  background: white;
  border-radius: 4px;
  box-shadow: 0px 14px 80px rgba(231, 231, 233, 0.5);
  min-width: 390px;
  display: flex;
  flex-direction: row;
  border-radius: 25px;
  position: relative;
  margin: 0 5px;
  h2 {
    margin: 0;
    padding: 0 1rem;
    color: rgb(37,32,82);
  }

  .title {
    padding: 1rem;
    text-align: right;
    color: rgb(254,192,93);
    font-weight: bold;
    font-size: 12px;
  }

  .desc {
    padding: 0.5rem 1rem;
    font-size: 12px;
    color: #bab9cb;
  }

  .actions {
    margin-top: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 0.5rem 1rem;
  }

  svg {
    width: 85px;
    height: 85px;
    margin: 0 auto;
  }
}

.card-text {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.title-total {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5em 0.5em 1.5em 0.5em;
  background-color: rgb(235,235,242);
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

path {
  fill: white;
}

.img-portada {
  width: 100%;
}

.portada {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  background-size: cover;
}

button {
  border: none;
  background: none;
  font-size: 24px;
  color: #8bc34a;
  cursor: pointer;
  transition:.5s;
}

.scrollmenu {
  margin: 0px 0px 70px 0.5px;
  display: flex;
  width: 100vw;
  background-color: rgb(247,246,250);
  overflow-x: auto;
  overflow-y: hidden;
  color: white;
  padding: 5px;
  text-decoration: none;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-top: -171px;
}

body, html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  scroll-behavior: smooth;
}


.home-card-container{
margin-bottom: 30px;
}

.card-trip-home {
  overflow: hidden;
  background:#e6e7e8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  min-width: 390px;
  margin-right: 5px;

  img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }

  h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: black;
  }

  p {
    font-size: 12px;
    opacity: .7;
    margin: 0;
    color: black;
  }

}







.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}


.card-new{
  background: linear-gradient(90deg, rgba(54,46,119,1) 0%, rgba(57,49,125,1) 35%, rgba(64,55,136,1) 100%);
  border-radius: 20px;
  width: 90vw;
  height: 240px;
  margin: 0 auto;
  padding: 15px;
  margin-right: 10px;
  box-shadow: 0 0 11px rgba(0,0,0,0.07);

}

.before-line{
  hr{
    color: rgb(109, 109, 109);
    margin: 12px 0;
  }
}

.name-image{
  display: flex;
  justify-content:left;
  h2, h5{
    font-size: 22px;
    color: white;
    text-align: left;
    width: 173px;
    margin-left: 15px;
    font-weight: 300;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
  }
  h5{
    font-size: 18px;
    color: #a9a7c3;
  }
  .home-card-top{
    height: 50px;
  }
}

.name-image img{
  height:100px;
  width: 100px;
  object-fit: cover;
  border-radius: 20px;
}

// .card-deets{
//   display: flex;
//   justify-content: space-between;
//   width: 100%;
//   margin: 0 auto;
// }

.deet{
  text-align: left;
  font-size: 13px;
  color: #d9d9d9;
  width: 100%;
  .card-new-address{
    font-size: 16px;
    color: #c2c2c2;
    height: 45px;
  }

}

.card-new-price{
  color: #fe8701;
  font-weight: 400;
  font-size: 20px;
  text-align: right;
  margin-bottom: 0px;
  // display: flex;
  // align-items: flex-end;
  // justify-content: flex-end;
}
// <div class="container home-cards-container">
//   <div class="scrollmenu">
//     <% @venues.each do |venue| %>
//       <div class="card-trip-home">
//         <% if venue.activities.first.photo.attached? %>
//         <%= cl_image_tag venue.activities.first.photo.key %>
//         <% else %>
//         <%= 'https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg'%>
//         <% end %>
//         <div class="card-trip-infos">
//           <div>
//             <h2><%= venue.activities.first.name %></h2>
//             <p><%= venue.activities.first.description %></p>
//           </div>
//           <h2 class="card-trip-pricing">£99.99</h2>
//         </div>
//       </div>
//     <% end %>
//   </div>
// </div>

.bowling-scroll{
  position: relative;
  top: 140px;
}

.escape-scroll{
  position: relative;
  top: 278px;
}

.home-card-container{
  width: 95vw;

}
