.profile-top{
  text-align: center;
}

.profile-h1{
  display: flex;
  justify-content: space-between;
}

.profile-h1 i{
  font-size: 20px;
  color: white;
}

.profile-container {
  margin: 20px;
  color: #231F51;
}
.register-buttons{
  text-align: center;
  margin-top: 50vw;
}

.register-buttons a{
  margin-bottom: 20px;
  width: 90px;
  border-radius: 10px;
}


.card-trip-infos a {
  text-decoration: none;
  color: black;
}
