<div class="container">
  <%= simple_form_for [@activity, @booking] do |f| %>
  <%= f.association :slot, label: 'Please choose a time slot', label_method: :slot_time, value_method: :id, collection: @slots_available  %>
  <%# <% f.input :activity, as => :hidden, :input_html => { :value => @activity.current_user.slots.pluck(:activity_id).uniq} %>
  <%= f.input :user_party_size, label: 'Please choose a party size', as: :integer %>
  <%= f.button :submit, 'Book' %>
  <% end %>
</div>

<%# collection: Slot.where(is_available: true) %>
