<h1>hello</h1>


<%= @booking.user_party_size %>




<%= @booking.slot.start_time %>
<%= @booking.slot.end_time %>

<%= link_to "Cancel", activity_booking_path(@booking),  class: "btn btn-warning", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
