
<nav class="mobile-nav">

        <%= link_to root_path, class:"bloc-icon" do %>
          <i class="bi bi-house-door"></i>
        <% end %>

        <%= link_to bookings_path, class:"bloc-icon" do %>
          <i class="bi bi-book"></i>
        <% end %>

        <a href="#" class="bloc-icon">
            <i class="bi bi-person-circle"></i>
        </a>
</nav>
