<div class="hero">
  <div class="container">
    <h1 class="banner-slogan">London has a lot to offer</h1>
    <p>Create meaningful memories by discovering new experiences all over London</p>
    <%= link_to "Explore", all_activities_path, class: "btn btn-light"%>
  </div>
</div>
<div class="container">
  <% @venues.each do |v| %>
    <div class="cards">
      <div class="card-text">
        <div class="title-total">
          <div class="title"><%= v.name %></div>
            <% v.activities.each do |a|  %>
                  <h2><%= a.name %></h2>
                  <div class="desc"><%= a.description %>
                  </div>
                <% end %>
                <div class="actions">
                  <button><i class="far fa-heart"></i></button>
                  <button><i class="far fa-envelope"></i></button>
                  <button><i class="fas fa-user-friends"></i></button>
                </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
