<div class="container">
  <div class="my-venue-headers">
    <h1><strong>My Venues</strong></h1>
    <div>
      <%= link_to "Add Venue", new_venue_path, class:"btn btn-primary"%>
    </div>
  </div>
  <div class="my-v-cards">
    <% @venues.each do |v| %>
    <h5><%= link_to v.name, venue_path(v.id) %></h5>
    <h6><%= v.address %></h6>
    <p><%= v.description %></p>
    <% end %>
  </div>
</div>
