<div class="container">
  <div class="my-venue-headers">
    <h1>My Venues</h1>
    <div>
      <%= link_to "Add Venue", new_venue_path, class:"btn btn-primary"%>
    </div>
  </div>
  <hr>
  <ul>
  <% @venues.each do |v| %>
  <li><h5><%= link_to v.name, venue_path(v.id) %> - <%= v.address %></h5></li>
  <p><%= v.description %></p>
  <% end %>
  </ul>
</div>
