.my-venue-headers{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-v-cards {
  background: #e6eaf8;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px;
  padding: 20px;
  display: grid;
  border-radius: 10px;

}
