.my-venues-activities-headers{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.index-head{
  position: sticky;
  top: 61px;
  background-color: #f7f6fa;
  z-index: 1;
}

.my-v-cards {
  background-color: #231F51;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  margin: 30px;
  padding: 20px;
  display: grid;
  border-radius: 10px;
  color: #EBECF4;

}
