.new-venue-form {
  color: #231F51;
}


.venue-new-container {
  margin: 20px;
  color: #231F51;
}








// .btn-light {
//   background-color: #231F51;
//   color: #EBECF4;
//   border-radius: 5px;

// }
