.container-form-booking {
  color: #231F51;
  margin-top: 20px !important;
}

// .activity-show-margin {
//   margin-left: 20px !important;
// }

.activity-show-container {
  margin: 20px;
}


// .activity-show-image {
//   max-width: inherit;

// }

// .activity-show-margin image {
//   max-width: -webkit-fill-available;
// }


.activity-show-container {
  margin-top: 8px !important;
  img {
    max-width: -webkit-fill-available;
    margin-bottom: 20px;

  }
}

.show-activities{
  background-color: white;
  border-radius: 5px;
  width: 90vw;
  margin: 0 auto;
  margin-top: 18px;
  padding: 10px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);

  h1{
   color: #262053;
   text-align: center;
  }
  h4{
    color: #ffa340;
    text-align: center;
    padding-top: 8px;
  }
  h5{
    color: #8680b9;
    margin-left: 7px;
  }

  p{
    color:#b3b2c2;
    margin-left: 5px;
  }
}
.container-form-booking{
  background-color: rgb(255,255,255) ;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  width: 90vw;
  margin: 0 auto;
  padding: 10px;
}

.form-control{

}

.book-button{
  width: 100%;
  background-color: #362e77;
  color: white;
  border-radius: 5px;
}

.back-button{
  display: flex !important;
  justify-content: right;
  padding-right: 10px;
  padding-bottom: 10px;
}

.actual-button{
  background-color: white !important;
  color: grey !important;
  text-decoration: none;
}

.activity-buttons{
  i{
    font-size: 20px;
  }
  .bi-pencil-square{
    color: #686868;
  }

  .bi-trash{
    color: rgb(144, 0, 0);
  }
  a{
    text-decoration: none;
  }
}

.flex-container{
  display: flex;
  justify-content: space-between;
  padding-left: 5px;
}
