@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@200;400;500;600;700&display=swap');
.hero {
  background-color: #362e77;
  position: relative;
  top: -130px;
  padding: 20px;
  height: 364px;
  align-items: center;
}

.hero-text{
  position: relative;
  font-family: 'Alexandria', sans-serif;
  top: 115px;
}

.hero .hero-text h1{
  margin: 0;
  font-family: 'Alexandria', sans-serif;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.hero .hero-text p {
  font-size: 20px;
  font-family: 'Alexandria', sans-serif;
  color: #a2a0bd;
  opacity: .7;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.banner-slogan{
  margin-bottom: 10px;
}

.home-boxes{
  display: flex;
  justify-content: center;
  position: relative;
  top: -200px;
}

.venue-box{
  padding: 30px;
  background-color: white;
  font-size: 30px;
  width: 115px;
  border-radius: 15px;
  height: 100px;
  margin: 14px;
  text-align: center;
  padding-bottom: 84px;
  box-shadow: 0 0 15px rgba(0,0,0,0.03);

}

.venue-box i{
  color: orange;
}
.box-text{
  font-size: 15px;
  display: flex;
  justify-content: center;
  font-family: 'Alexandria', sans-serif;
  font-weight: 200;
}
