.search{
    z-index: 100;
    position: relative;
    top: 135px;
    margin: 0 auto;
}

.form-control{
  border-radius: 5px;
  border: 1px solid #464087 ;
  width: 90vw;
  height:45px;
  margin: 0 auto;
  text-align: left;
  color: white;
  font-size: 13px;
  background-color: #413c7d;

}

body{
  width: 100%;
}
