.search{
    z-index: 100;
    position: sticky;
    top: 14px;
    margin: 0 auto;
}

.form-control{
  border-radius: 100px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 13px;

}

body{
  width: 100%;
}
