.top-navbar{
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1000;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  background-color: #362e77;
}

.logo{
  color: orange;
  font-family: 'Alexandria', sans-serif;
  text-decoration: none;
  a{
    text-decoration: none;
    color: #f1952f;
  }
 }

.nav-form-control{
  border-radius: 5px;
  border: 1px solid #464087;
  width: 40vw;
  height: 27px;
  margin: 0 auto;
  text-align: left;
  color: white;
  font-size: 12px;
  background-color: #4b4586;
  padding: 6px;
}
