<br>
<div class="search-result-container container">

  <% if params[:query].present? %>
    <div class="venues-activities-index">
      <% @activities.each do |a| %>
        <div class="card-trip" onclick="this.querySelector('a').click(); return true;">
          <img src="<%= a.photo.attached? ? (cl_image_path a.photo.key) : 'https://m.media-amazon.com/images/S/aplus-media/vc/cab6b08a-dd8f-4534-b845-e33489e91240._CR75,0,300,300_PT0_SX300__.jpg'%>" />
          <div class="card-trip-infos">
            <div>
              <h2><%= link_to a.name, activity_path(a.id) %></h2>
              <p><%= a.venue.name %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
