.checkout-container {
  margin: 20px;
  color: #3e3685;
}


.btn-primary {
  // margin-top: 10px;
  background-color: #231F51 !important;
  border-color: #231f51 !important;
}

.col h1 {
  margin-bottom: 20px;
}

.checkout-content {
  padding: 5px;
}
