.container {
  margin: 30px;
}

.bookings-container h1 {
  margin-top: 20px !important;
  // margin-bottom: 2.5rem !important;
}


.booking-card {
  background: #e6eaf8;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  margin: 30px;
  padding: 20px;
  display: grid;
  border-radius: 10px;
  width: fit-content;
  color: black !important;
}

.cancel-button {
}

.booking-cards {
  display: grid;
}

.bookings-container h1 {
  margin-left: 30px;
  font-weight: bolder;
}
