.container {
  margin: 30px;
}

.bookings-container h1 {
  margin-top: 20px !important;
  // margin-bottom: 2.5rem !important;
  color: #231f51;
}


.booking-card {
  background: #ebecf4;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  margin: 15px;
  padding: 20px;
  display: grid;
  border-radius: 10px;
  width: 360px;
  color: #3e3685 !important;
}


.booking-cards {
  display: grid;
}

.bookings-container h1 {
  margin-left: 30px;
  font-weight: bolder;
}


.btn-link{
  color: #968ed4 !important;
  display: contents;
  text-decoration: none;
}


.cancel-button {
  border-color: #776fb8 !important;
  display: flex;
  justify-content: right;
}


.booking-card h2 {
  color: #231f51;
}
