.container {
  margin: 30px;
}

.bookings-container h1 {
  margin-top: 20px !important;
  // margin-bottom: 2.5rem !important;
  color: #231f51;
}


.booking-card {
  background: #ebecf4;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  margin: 30px;
  padding: 20px;
  display: grid;
  border-radius: 10px;
  width: fit-content;
  color: #231f51 !important;
}


.cancel-button {
  border-color: #231f51 !important;
}


.booking-cards {
  display: grid;
}

.bookings-container h1 {
  margin-left: 30px;
  font-weight: bolder;
}

.btn-outline-dark{
  color: #231f51 !important;

}
