.booking-show-container {
  margin: 30px;
  color: #231F51;
}

.booking-show-container h4 {
  color: #231F51;
}

.booking-card-show {


  background: #231F51;
  color: #EBECF4;

  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  display: grid;
  border-radius: 10px;

}

.bookingconfirm {
  color: white;

}

// .btn-dark {
//   margin-left: 20px;
// }

.bookingconfirm h2 {
  margin: 15px;
}

.btn-dark {
  background-color: #231F51;
  margin-top: 10px;
}
