.container {
  margin: auto;
}

.booking-card-show {
  background: rgb(235, 209, 190);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 30px;
  padding: 20px;
  display: grid;
  border-radius: 10px;
}
