.booking-show-container {
  margin: 20px;
  color: white;
}

.booking-card-show {


  background: #e6eaf8;
  color: black;

  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 20px;
  display: grid;
  border-radius: 10px;

}

.bookingconfirm {
  color: white;

}

// .btn-dark {
//   margin-left: 20px;
// }

.bookingconfirm h2 {
  margin: 15px;
}
